<?xml version="1.0"?>
<launch>
    <arg name="path" default="$(find recorder)/data/$(anon frames)" />

    <rosparam command="load" file="$(find recorder)/config/frames.yaml" param="recorder/frames"/>
    <!--<include file="$(find optitrack_publisher)/launch/optitrack_publisher.launch"/>--> <!-- To be launched separatedly -->
    <node name="tf_recorder" pkg="recorder" type="tf_recorder.py" output="screen">
        <param name="path" value="$(arg path)"/>
    </node>
</launch>
