<?xml version="1.0"?>
<launch>
    <arg name="path" default="$(find recorder)/data/$(anon dataset)" />
    <arg name="kinect" default="False" />
    <arg name="depth" default="False" />
    <arg name="left" default="True" />
    <arg name="right" default="True" />
    <arg name="head" default="False" />
    <arg name="frames" default="True" />
    <arg name="load_frames" default="True" />
    <arg name="actions" default="False" />
    
    <rosparam if="$(arg load_frames)" command="load" file="$(find recorder)/config/frames.yaml" param="recorder/frames"/>
    
    <rosparam param="/recorder/enabled/kinect" subst_value="True">$(arg kinect)</rosparam>
    <rosparam param="/recorder/enabled/depth" subst_value="True">$(arg depth)</rosparam>
    <rosparam param="/recorder/enabled/left" subst_value="True">$(arg left)</rosparam>
    <rosparam param="/recorder/enabled/right" subst_value="True">$(arg right)</rosparam>
    <rosparam param="/recorder/enabled/head" subst_value="True">$(arg head)</rosparam>
    <rosparam param="/recorder/enabled/frames" subst_value="True">$(arg frames)</rosparam>
    <rosparam param="/recorder/enabled/actions" subst_value="True">$(arg actions)</rosparam>

    <node name="head_republisher" pkg="image_transport" type="republish" output="log" args="theora in:=/usb_cam/image_raw raw out:=/usb_cam/uncompressed"/>
    <node name="kinect_rgb_republisher" pkg="image_transport" type="republish" output="log" args="theora in:=/openni/rgb/image_rect_color raw out:=/openni/rgb/uncompressed"/>
    <!--<node name="kinect_depth_republisher" pkg="image_transport" type="republish" output="log" args="compressed in:=/openni/depth_registered/hw_registered/image_rect raw out:=/openni/depth/uncompressed"/>-->
    
    <node name="recorder" pkg="recorder" type="record" output="screen">
        <param name="path" value="$(arg path)"/>
    </node>
</launch>
