<?xml version="1.0"?>
<launch>
    <include file="$(find recorder)/launch/start_kinect.launch"/>
    <include file="$(find usb_cam)/launch/usb_cam.launch"/>

    <node name="rosbag" pkg="rosbag" type="record" args="/usb_cam/image_raw /openni/rgb/image_color /openni/depth_registered/disparity /tf -O /tmp/bag.bag" />
</launch>
