<?xml version="1.0"?>
<launch>
    <arg name="sound" default="false" />
    <arg name="device" default="/dev/video0" />
    <arg name="path" default="$(find recorder)/data/$(anon video)" />

    <node name="video_recorder" pkg="recorder" type="video_recorder.py" output="screen">
        <param name="sound" value="$(arg sound)"/>
        <param name="device" value="$(arg device)"/>
        <param name="path" value="$(arg path)"/>
    </node>

</launch>
